<%= render "layouts/admin" %>

<% @posts.each do |post| %>
  <article class="post">
    <h2><%= link_to post.title, post %></h2>
    <div class="date">
      <%= post_date(post.created_at) %>
    </div>
    <div class="content"><%= dat_render(post.body) %></div>
    <% if current_user %>
    <p><%= link_to 'Edit', edit_post_path(post) %></p>
    <p><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></p>
    <% end %>
  </article>
<% end %>