<%= render "layouts/admin" %>
<article>
  <h2>
    <%= @post.title %>
  </h2>
  <div class="date">
    <%= post_date(@post.created_at)%>
  </div>

  <section class="post">
    <%= dat_render(@post.body) %>
  </section>
  
  <section id="comments">
  
  <h3>Comments</h3>
  <a name="#comments"></a>
  <% @post.comments.each do |comment| %>
    
  <div class="name <%= cycle('even', 'odd') %>"><%= comment.name %></div>

    <div class="body">
      <%= comment.body %>
    </div>
  <% end %>
  
  <h3>Add a comment:</h3>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email%>
    </div>
    <div class="field">
      <%= f.label :website %>
      <%= f.text_field :website %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>
    <div class="field">
      <%= f.submit %>
    </div>
  <% end %>
  </section>
  
</article>
<% if current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %> | 
  <%= link_to 'Delete', @post, :confirm => "Are you sure?", method: :delete %>
<% end %>