<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= @title %> | Johnny Grubb</title>
  <%= favicon_link_tag '/favicon.png' %>
  <meta name="description" content="<%= @description || "" %>">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="lFb_pR6GrqO_LZynmEmpu8hI-xYJhJrdjmWu1Zo3FLk" />
</head>
<body>
  <header id="header">
    <div class="wrapper">
      <h1><%= link_to 'Johnny Grubb', root_path, :class => "brand" %></h1>
      <p><em>Adventures in stuff</em></p>
      <%= render "layouts/nav" %>
    </div>
  </header>
  <div id="body">
    <div class="wrapper">
      <% if alert %><p class="notice"><%= alert %></p><% end %>
      <% if flash[:error] %><p class="errors"><%= flash[:error] %></p><% end %>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="wrapper">
      <h2>Hola</h2>
      <p>My name's John(ny) and this is my new blog.  I tend to write about more technical things lately, but music and the business of it also surface from time to time.  I play bass in <a href="http://www.emmittnershiband.com/" title="Emmitt-Nershi Band">a bluegrass band</a> coming to a town near you, but building stuff on the web pays the bills.  I've been working with Drupal in general for the last few years, but have recently gotten much more into Javascript and Rails. Say "<a href="http://twitter.com/johnnygrubb">Hello</a>".</p>
    </div>
  </div>
  <script>
    var _gaq=[['_setAccount','UA-8646459-7'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
